*{margin: 0;
	}
	
header{
			background-color: lightgray;
			font-family: Andale Mono, monospace;
	}

#container{
			width: 100%;
			height: 16.5%;
	}
	

.logo{
	float: left;
	width: 16.5vh;
	height: 16.5vh;
	border: solid black;
}

nav{
	text-align: center;
}

nav ul{
	margin: 0;
	padding:0;
	list-style: none;
}

nav li + li:before{
    content: " | ";
    float: none;
    padding: 2px;
}


nav li{
		display: inline-block;
		margin: 6vh;
		
}

nav a{
	color: #004AAD;
	text-decoration: none;
	font-size: calc(4px + 1.1vw);
}

nav a:hover{
	color: #f01163;
}

h2{
	color: blue;
	text-align: center;
	font-family: Andale Mono, monospace;
	font-size: calc(6px + 6vw);
	padding-top: 7vh;
	padding-left: 8vh;
}

#bio {
	display: inline-block;
	width: 60%;
	margin: auto;
	margin-left: 40vh;
	line-height: 1.9em;
	text-align: left;
	font-family: Andale Mono, monospace;
}


#self{
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 40vh;
	height: 40vh;
}

#song{
	text-align: center;
}

.center{
 display: block;
  margin-left: auto;
  margin-right: auto;
  width: 23%;
}

/* 2-column layout formatting */

#playlist {
    float:left;
}

#recs{
	float: right;
	margin-right: 30em;
}

/* everything below this comment is for internal page styling */

#ind{
	display: inline-block;
	width: 55%;
	margin-left: 10vh;
	line-height: 1.9em;
	text-align: left;
	font-family: Andale Mono, monospace;
}

.col-md-6 h4{
	font-family: Andale Mono, monospace;
	font-size: calc(2px + 1vw);
	padding-top: 5vh;
	padding-left: 5.5vw;
	color: #004AAD;
	line-height: 1.7em;
}

.col-md-6 h6{
	font-family: Andale Mono, monospace;
	font-size: calc(2px + .8w);
	padding-top: 5vh;
	padding-left: 5.5vw;
	color: #004AAD;
	line-height: -.8em;
}

.text-center {
  text-align: center;
}

.display-inline {
  display: inline-block;
}

iframe{
	margin-left: 4.5vw;
}

p a:link{
	color: #da6df2;
	text-decoration: none;
}

p a:visited{
	color: green;
}

p a:hover{
	color: red;
}

/* everything below this comment is for z-indexing */
.container {
  position: relative;
}

.art1 {
  position: absolute;
  z-index: 1;
  margin-top: 3vh;
  margin-left: 6vw;
}

.art2 {
  position: absolute;
  z-index: 4; 
  margin-top: 22vh;
  margin-left: 19vw;
}

.art3 {
  position: absolute;
  z-index: 3;
  margin-top: 44vh;
  margin-left: 6vw;
}

.art4 {
  position: absolute;
  z-index: 4;
  margin-top: 63vh;
  margin-left: 18vw;
}

.art1{transform:rotateZ(-4deg);}
.art2{transform:rotateZ(4deg);}
.art3{transform:rotateZ(-4deg);}
.art4{transform:rotateZ(4deg);}


.art1:hover{
	z-index:5;
}
.art2:hover{
	z-index: 5;
}
.art3:hover{
	z-index: 5;	
}